.about-container {
    position: relative;
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.about-container img{
    position: absolute;
    top: 0px;
    background-color: aliceblue;
    margin-bottom: 50px;
}

.members {
    margin-top: 300px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.members img {
    position: relative;
    width: 200px;
    border-radius: 100%;
    border: 3px solid #1b1b1b;
    border-radius: 100%;
}

@media screen and (max-width:768px) {
    .about-container .bg2 {
        display: none;
    }

    
    .members {
        margin-top: 100px;
    }
}